// ==========================================================================
// External Source Definitions 
// ==========================================================================

$fontFamilyBrand      : 'Open Sans', Arial, sans-serif;
$fontPrimary          : 'Roboto', sans-serif;
$fontSecondary        : 'Open Sans', sans-serif;
$fontShadowsIntoLight : 'Shadows Into Light', sans-serif;


// ==========================================================================
// Definitions color
// ==========================================================================

// Primary Colors
$primaryBase        : #777 !default;
$primaryLight       : #ccc !default;
$primaryDark        : #444 !default;

// Secondary colors
$secondaryBase      : #7b7b7b !default;
$secondaryLight     : #dddddd !default;
$secondaryDark      : #222222 !default;

// Complementary Colors
$complementaryOne   : #9BE9BA !default;
$complementaryTwo   : #a28e4d !default;
$complementaryThree : #f4f2ee !default;

// Alerts Colors
$alertsSuccess      : #28A745 !default;
$alertsError        : #f00000 !default;
$alertsWarning      : #FFC100 !default;
$alertsInfo         : #0074FC !default;

// Controls Colors
$control01          : #65829d !default;
$control02          : #758fa7 !default;
$control01-dark     : #0056B3 !default;

// GrayScale Colors
$grayscaleWhite    : #ffffff !default;
$grayscaleLevel-1  : #f2f2f2 !default; 
$grayscaleLevel-2  : #eeeeee !default;
$grayscaleLevel-3  : #cccccc !default;
$grayscaleLevel-4  : #999999 !default;
$grayscaleLevel-5  : #666666 !default;
$grayscaleLevel-6  : #333333 !default;
$grayscaleLevel-7  : #4A4A4A !default;
$grayscaleLevel-8  : #99ddff !default;
$grayscaleLevel-9  : #DFDFDF !default;
$grayscaleLevel-10 : #ECECEC !default;
$grayscaleLevel-11 : #dcdcdc !default;
$grayscaleLevel-12 : #0088CC !default;
$grayscaleLevel-13 : #e1e1e1 !default;
$grayscaleLevel-14 : #313131 !default;
$grayscaleLevel-15 : #555555 !default;
$grayscaleLevel-16 : #ebebeb !default;
$grayscaleBase     : #1b1b1b !default;
$grayscaleBlack    : #000000 !default;

// Border Colors
$borderColor-1     : #646464 !default;
$borderColor-2     : #475b6f !default;

// Background Colors
$backgroundColor-1  : #121214 !default;
$backgroundColor-2  : #0c0c0c !default;
$backgroundColor-3  : #65829d !default;
$backgroundColor-4  : #777777 !default;
$backgroundColor-5  : #9e9e9e !default;
$backgroundColor-6  : #f5f5f5 !default;
$backgroundColor-7  : #fbfbfb !default;
$backgroundColor-8  : #006fa6 !default;
$backgroundColor-9  : #f0f0ed !default;
$backgroundColor-10 : #c40000 !default;
$backgroundColor-11 : #252525 !default;
$backgroundColor-12 : #F4F4F4 !default;
$backgroundColor-13 : #ffc100 !default;
