// Define skin(child) que se aplica al sistema
@import './skin/default';

// ==========================================================================
// FontStack
// ==========================================================================

$font-size         : 1rem;
$font-family-brand : $fontFamilyBrand;
$font-primary      : $fontPrimary;
$font-secondary    : $fontSecondary;

// ==========================================================================
// COLORS : Eje.: background: color( primary, light );
// ==========================================================================

$colors: (
   primary: (
      base     : $primaryBase,
      light    : $primaryLight,
      dark     : $primaryDark
   ),
   secondary: (
      base     : $secondaryBase,
      light    : $secondaryLight,
      dark     : $secondaryDark
   ),
   complementary: (
      one      : $complementaryOne,
      two      : $complementaryTwo,
      three    : $complementaryThree
   ),
   alerts: (
      sucess   : $alertsSuccess,
      error    : $alertsError,
      warning  : $alertsWarning,
      info     : $alertsInfo
   ),
   controls:(
      base     : $control01,
      hover    : $control02,
      dark     : $control01-dark,
   ),
   grayscale: (
      white    : $grayscaleWhite,
      gray-1   : $grayscaleLevel-1, 
      gray-2   : $grayscaleLevel-2,
      gray-3   : $grayscaleLevel-3,
      gray-4   : $grayscaleLevel-4,
      gray-5   : $grayscaleLevel-5,
      gray-6   : $grayscaleLevel-6,
      gray-7   : $grayscaleLevel-7,
      gray-8   : $grayscaleLevel-8,
      gray-9   : $grayscaleLevel-9,
      gray-10   : $grayscaleLevel-10,
      gray-11   : $grayscaleLevel-11,
      gray-12   : $grayscaleLevel-12,
      gray-13   : $grayscaleLevel-13,
      gray-14   : $grayscaleLevel-14,
      gray-15   : $grayscaleLevel-15,
      gray-16   : $grayscaleLevel-16,
      base     : $grayscaleBase,
      black    : $grayscaleBlack 
   ),
   border:(
    color-1  : $borderColor-1,
    color-2  : $borderColor-2,
   ),
   background:(
    color-1  : $backgroundColor-1,
    color-2  : $backgroundColor-2,
    color-3  : $backgroundColor-3,
    color-4  : $backgroundColor-4,
    color-5  : $backgroundColor-5,
    color-6  : $backgroundColor-6,
    color-7  : $backgroundColor-7,
    color-8  : $backgroundColor-8,
    color-9  : $backgroundColor-9,
    color-10  : $backgroundColor-10,
    color-11  : $backgroundColor-11,
    color-12  : $backgroundColor-12,
   )
);

// ==========================================================================
// SPACING : Eje.: padding: map-get($sizes, "tiny");
// ==========================================================================

$sizes: (
   skinny : .625rem,  // 10px
   tiny   : .75rem,  // 12px
   small  : .875rem, // 14px
   base   : 1rem,    // 16px
   thumb  : 1.25rem, // 20px
   half   : 1.5rem,  // 24px
   medium : 2.25rem, // 36px
   large  : 3rem,    // 48px
   xlarge : 3.5rem,  // 56px
   huge   : 4rem     // 64px
);

// ==========================================================================
// Breakpoints
// ==========================================================================

$breakpoints: (
   sm  : 768px,
   md  : 992px,
   lg  : 1200px,
   xl  : 1366px,
);

// ==========================================================================
// Alignment
// ==========================================================================

$alignment: left, center, right, justify;
