.footer{
  background: color(background, color-1);
  margin-top: map-get($sizes, half );
  padding: 10px 0 0;
  .footer-ribbon {
    background: color(background, color-3);
    position: absolute;
    margin: -26px 0 0 15px;
    padding: 10px 20px 6px 20px;
    &:before {
      border-right: 10px solid color(border, color-1);
      border-top: 16px solid transparent;
      content: "";
      display: block;
      height: 0;
      left: -10px;
      position: absolute;
      top: 0;
      width: 7px;
      border-right-color: color(border, color-1);
      border-left-color: color(border, color-1);
    }
    span {
      font-size: 20px;
      line-height: 1;
      color: #FFF;
      font-family: $fontShadowsIntoLight, cursive;
    }
  }
  .region-footer {
    margin-top: 40px;
  }
  .footer-bottom {
    color: #777;
    background-color: color(background, color-2);
    border-top: none;
    padding: 29.5px 0;
    margin-top: 20px;
  }
}