.footer {
  background: color(background, color-1);
  margin-top: map-get($sizes, half );
  padding: 10px 0 0;
  color: color(background, color-4);
  font-size: map-get($sizes, small );
  .footer-ribbon {
    background: color(background, color-3);
    position: absolute;
    margin: -26px 0 0 15px;
    padding: 10px 20px 6px 20px;
    &:before {
      border-right: 10px solid color(border, color-1);
      border-top: 16px solid transparent;
      content: "";
      display: block;
      height: 0;
      left: -10px;
      position: absolute;
      top: 0;
      width: 7px;
      border-right-color: color(border, color-1);
      border-left-color: color(border, color-1);
    }
    span {
      font-size: 20px;
      line-height: 1;
      color: #FFF;
      font-family: $fontShadowsIntoLight, cursive;
    }
  }
  .region-footer {
    margin-top: 40px;
    h2 {
      font-size: map-get($sizes, base );
      font-weight: 400;
      margin-bottom: 18px;
      color: color(grayscale, white);
    }
    .menu--footer {
      li {
        padding: map-get($sizes, skinny ) 0 0;
        &:first-child {
          padding: 0;
        }
        &:before {
          color: color(background, color-3);
          content: "\f0da";
          display: inline-block;
          font: normal normal normal 12px/1 FontAwesome;
        }
      }
    }
  }
  .footer-bottom {
    color: #777;
    background-color: color(background, color-2);
    border-top: none;
    padding: map-get($sizes, base ) 0;
    margin-top: 20px;
    .logo {
      margin: 0 map-get($sizes, medium ) 0 0;
    }
    .navbar-brand {
      padding: 7px 15px;
    }
    .block {
      margin-right: map-get($sizes, medium );
      float: left;
    }
  }
  .nav {
    > li {
      > a {
        font-size: map-get($sizes, small );
        color: color(grayscale, white);
        display: inline;
        padding: 3px;
      }
    }
  }
  a {
    color: color(grayscale, white);
  }  
  .paragraph--type--location-information {
    .field--name-field-information {
      color: color(grayscale, white);
    }
  }
  .paragraph--type--contact-information {
    .field--name-field-information {
      color: color(grayscale, white);
    }
  }
}