header {
  &.navbar-default {
    background-color: color(background, color-13);
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    a {
      color: color(background, color-11);
    }
    .header-top {
      li {
        a {
          color: color(background, color-7);
        }
      }
    }    
    .navbar-collapse {
      margin: 0;
      padding: 0;
      background: color(background, color-11);
      border-radius: 5px;
      border-color: transparent;
      .navbar-nav {
        margin: 0;
        li {
          &.first {
            a {

            }
          }
          a {
            font-weight: 700;
            font-size: map-get($sizes, "tiny");
            text-transform: uppercase;
            color: color(grayscale, white);
            padding: 0.52rem map-get($sizes, "base");
            margin: 0 1px;
            &:hover, &.is-active, &.active-trail {
              color: color(grayscale, white);
              background-color: color(grayscale, black);
              border-radius: 5px;
            }
          }
          &.expanded {
            .dropdown-menu {
              background: color(grayscale, black);
            }
          }
        }
      }
    }
  }
  .header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .navbar-header {
      width: 45%;
      img {
        width: 100%;
      }
    }
    .header-bottom {
      width: 55%;
    }
    .views-field-field-phone {
      display: none;
    }
  }
}

.menu{
    li{
        display: inline-block;
        a{
           color: color(controls, base);
           &:hover,
           &:focus{
            background: none;
           }
        }
    }
}

@include mq-min(sm) {
  header {
    &.navbar-default {
      .header-top {
        .navbar-header {
          width: 35%;
        }
        .header-bottom {
          width: 65%;
        }
      }
    }
    .header-top {
      .views-field-field-phone {
        margin: 13px;
        display: block;
      }
    }
  }
  .menu{
    li{
      display: block;
    }
  }
}

@include mq-min(md) {
  header {
    &.navbar-default {
      .header-top {
        .navbar-header {
          width: 30%;
        }
        .header-bottom {
          width: 70%;
        }
      }
    }
  }
}