
*, 
*:before, *:after {
	box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  font-family: $font-family-brand;
  font-size: $font-size;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  color: color(primary, base);
}

p {
  margin-bottom: map-get($sizes, "base");
}

h1, h2, h3, h4, h5, h6{
  font-weight: bold;
  margin-bottom: map-get($sizes, "base");
}

h1{
  font-size: map-get($sizes, "huge");
}
h2{
  font-size: map-get($sizes, "xlarge");
}
h3{
  font-size: map-get($sizes, "large");
}
h4{
  font-size: map-get($sizes, "medium");
}
h5{
  font-size: map-get($sizes, "half");
}
h6{
  font-size: map-get($sizes, "thumb");
}

ol,
ul{
  margin-bottom: map-get($sizes, "base");
  padding-left: map-get($sizes, "half");
}

ol{
  counter-reset: item;
  list-style: none;
  li{
    &:before{
      counter-increment: item;
      content: counters(item, ".") ". ";
    }
  }
}
/* Estilos del sitio */
.name.navbar-brand {
  display: none;
}
.main-container {
  font-size: map-get($sizes, small );
  margin-top: map-get($sizes, half );
}
.container-header {
  background-color: color(grayscale, black);
  .breadcrumb {
    background-color: transparent;
    margin: 6.5px 0;
    padding: 0;
    li {
      display: inline;
      list-style-type: none;
      margin: 0;
      padding: 0;
      color: color(grayscale, white);
      font-size: map-get($sizes, small );
      &::before {
        content: '\f054';
        font-family: FontAwesome;
        color: color(grayscale, white);
      }
      &:first-child {
        &::before {
          content: '';
        }
      }
      a {
        color: color(grayscale, white);
        font-size: map-get($sizes, small );
      }
    }
  }
}
.field--name-field-contact-information {
  .paragraph {
    &:before {
      font: normal normal normal 12px/1 FontAwesome;
      font-size: map-get($sizes, small );
      display: inline-block;
      margin-right: 3px;
    }
    .field--name-field-title {
      display: inline;
      font-weight: 700;
    }
  }
}
.paragraph--type--mail-information {
  &:before {
    content: "\f003";    
  }
  .field--name-field-mail {
    margin-left: map-get($sizes, "half");
  }
}
.paragraph--type--location-information {
  &:before {
    content: "\f041";
  }
  .field--name-field-information {
    margin-left: map-get($sizes, "thumb");
  }
}
.paragraph--type--phone-information {
  &:before {
    content: "\f095";
  }
  .field--name-field-phone {
    margin-left: map-get($sizes, "thumb");
  }
}
.paragraph--type--contact-information {
  &:before {
    content: "\f017";
  }
  .field--name-field-information {
    margin-left: map-get($sizes, "thumb");
  }
}
.field--name-field-location {
  padding: 0 !important;
  width: 100vw;
  margin-left: 50% !important;
  transform: translateX(-50vw);
}
.node--type-webform {
  .field--label {
    font-size: map-get($sizes, "half");
    margin: map-get($sizes, "large") 0 map-get($sizes, "medium") 0;
    font-weight: 300;
  }
  .field--name-field-contact-information {
    .paragraph {
      margin-bottom: map-get($sizes, "base");
      &:before {
        width: map-get($sizes, "large");
        height: map-get($sizes, "large");
        text-align: center;
        background-color: color(background, color-3);
        line-height: map-get($sizes, "large");
        font-size: map-get($sizes, "thumb");
        color: color(grayscale, white);
        float: left;
        margin-right: map-get($sizes, "tiny");
      }
    }
  }
}
.view-social-networks {
  .social-network {
    display: inline-block;
    border-radius: 100%;
    a {
      background-color: color(background, color-5);
      color: color(grayscale, white);      
      transition: all 0.2s ease;
      border-radius: 100%;
      display: block;
      height: map-get($sizes, "medium");
      line-height: map-get($sizes, "medium");
      width: map-get($sizes, "medium");
      text-align: center;
      text-decoration: none;
    }
  }
}
.view-products {
  .views-row {
    text-align: center;
   .views-field-title {
      font-weight: 400;
      font-size: map-get($sizes, "base");
      margin: 0 0 3px;
      a {
        color: color(background, color-4);
      } 
    }
    .views-field-field-fivestar {
      line-height: 1.25;
      background: url(../images/rating-bar.png) center no-repeat;
      margin: 7px 0 6px;
      form {
        display: inline-block;
        position: relative;
      }
    }
  } 
}
.views-field-price__number {
  font-size: map-get($sizes, "thumb");
  color: color(primary, dark);
  font-weight: 600;
}
.has-glyphicons {
  .select-wrapper {
    &:after {
      display: none; 
    }
  }
}
.block-facets {
  margin-top: map-get($sizes, "base");
  .block-title {
    margin: 0;
    font-size: map-get($sizes, "small");
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid color(secondary, light);
    background-color: color(background, color-6);
    padding: map-get($sizes, "tiny") map-get($sizes, "skinny");
  }
  .facets-widget-links {
    padding: map-get($sizes, "skinny") map-get($sizes, "skinny") 0;
    border: 1px solid color(secondary, light);
    border-top: none;
    border-radius: 0 0 0 0;
    background-color: color(background, color-7);
    ul {
      padding-left: 0;
      li {
        list-style: none;
        a {
          color: color(primary, base);
          line-height: 2;
        }
      }
    }
  }
}
.views-exposed-form {
  h2 {
    margin: 0;
    font-size: map-get($sizes, "small");
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid color(secondary, light);
    background-color: color(background, color-6);
    padding: map-get($sizes, "tiny") map-get($sizes, "skinny");
  }
  form {
    padding: map-get($sizes, "small") map-get($sizes, "small") 0;
    border: 1px solid color(secondary, light);
    border-top: none;
    border-radius: 0 0 0 0;
    background-color: color(background, color-7);
    .form-item {
      margin: map-get($sizes, "small") 0;
      width: 100%;
      &:first-child {
        display: none;
      }
      label {
        width: 35%;
      }
      .select-wrapper {
        width: 60%;
        select {
          width: 100%;
        }
      }
    }
    .form-actions {
      display: block;
      text-align: center;
      .form-submit {
        margin: map-get($sizes, "skinny") 0 0.53rem;
      }
      margin-top: 22px;
      margin-bottom: map-get($sizes, "skinny");
    }
  }
}
.product-addtocart {
  .btn {
    &.btn-primary {
      color: color(grayscale, white);      
      background-color: color(background, color-3);
      border-color: color(background, color-3) color(background, color-3) color(background, color-3);
      margin-right: 0;
    }
  }
}
.cart-flyout {
  .cart-block--link__expand {
    position: relative;
    i {
      font-size: map-get($sizes, "medium");
      color: color(background, color-11);
      margin-top: 5px;
    }
    .cart-block--summary__count {
      position: absolute;
      width: 78%;
      text-align: center;
      top: 50%;
      left: 0;
      display: block;
      line-height: 1;
      color: color(grayscale, white);
      background-color: color(background, color-11);
      margin: -8px 4px;
    }
  }
}
.view-phone-company {
  .views-field-field-phone {
    font-size: map-get($sizes, "small");
    &:before {
      content: "\f095";
      font: normal normal normal 12px/1 FontAwesome;
      font-size: map-get($sizes, "small");
      margin-right: 5px;
      color: color(background, color-11);
    }
  }
}

.cart-form {
  border-top: 4px solid color(background, color-3);
  padding: map-get($sizes, "half") map-get($sizes, "half") map-get($sizes, "skinny");
  background: color(background, color-6);
  background: -webkit-linear-gradient( top , #FFF 1%, #fcfcfc 98%) repeat scroll 0 0 transparent;
  background: linear-gradient(to bottom, #FFF 1%, #fcfcfc 98%) repeat scroll 0 0 transparent;
  border-bottom: 1px solid color(grayscale, gray-9);
  border-left: 1px solid color(grayscale, gray-10);
  border-right: 1px solid color(grayscale, gray-10);
  margin: map-get($sizes, "thumb") 0;
  min-height: 100px;
  border-radius: 8px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);
  table {
    thead {
      tr {
        th {
          padding: map-get($sizes, "skinny");
        }
      }
    }
    tbody {
      tr {
        td {
          padding: map-get($sizes, "skinny");
          border-top: 1px solid color(grayscale, gray-11);
        }
      }
    }
  }
  input[type="number"] {
    border: 1px solid color(grayscale, gray-3);
    height: 35px;
    text-align: center;
    width: 55px;
  }
  #edit-actions {
    border-top: 1px solid color(grayscale, gray-11);
    padding: 20px 10px;
    text-align: right;
  }
  .btn-danger {
    font-size: inherit;
    padding: map-get($sizes, "skinny");
    margin: 0;
  }
  .views-field-total-price__number {
    text-align: right;
  }
}
.order-total-line-label {
  margin-right: map-get($sizes, "skinny");
}
.order-total-line-value {
  width: auto;
}
.order-total-line__total {
  .order-total-line-value {
    color: color(background, color-3);
    font-size: map-get($sizes, "thumb");
  }
}
.cart-form .button {
    transition: all 0.1s ease 0s;
    -moz-transition: all 0.1s ease 0s;
    -webkit-transition: all 0.1s ease 0s;
}
.cart-form #edit-checkout {
    margin-right: 0;
    background-color: #65829d;
    border-color: #65829d #65829d #006699;
    color: #ffffff;
}
.cart-form #edit-checkout:hover,
.cart-form #edit-checkout:focus {
    background-color: #65829d;
    border-color: #65829d #65829d #0077e3;
}
.cart-form .field--name-title {  display: none;}
@media screen and (max-width: 479px) {
    .cart-form { padding: 10px; }
    .cart-form th,
    .cart-form td {
        padding: 4px 5px;
    }
    .cart-form #edit-actions { padding: 10px 5px; }
}
.layout-region-checkout-main {
.checkout-pane {
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  background-color: color(grayscale, white);
  border: 1px solid color(secondary, light);
  .panel-heading {
    color: color(background, color-3);
    padding: 10px 15px;
    background-color: #f5f5f5;
    border: none;
  }
}
}

.layout-region-checkout-secondary {
  border-top: 4px solid color(controls, base);
  padding: map-get($sizes, "half") map-get($sizes, "half") map-get($sizes, "skinny");
  background: #F5F5F5;
  background: linear-gradient(to bottom, #FFF 1%, #fcfcfc 98%) repeat scroll 0 0 transparent;
  box-sizing: border-box;
  border-bottom: 1px solid #DFDFDF;
  border-left: 1px solid #ECECEC;
  border-right: 1px solid #ECECEC;
  margin-bottom: 20px;
  min-height: 100px;
  border-radius: 8px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);
  h3 {
    font-size: map-get($sizes, "half");
    font-weight: 400;
    letter-spacing: normal;
    line-height: 27px;
    margin: 0 0 14px;
    color: color(background, color-3);
    text-transform: none;
  }
  table {
    border: none;
    > tbody {
      > tr {
        &:nth-of-type(odd) {
          background-color: transparent;
        }
        > td {
          border: none;
          border-top: 1px solid #dcdcdc;
        }
      }
    }
  }
  .views-field-quantity {
    vertical-align: middle;
  }
  .views-field-purchased-entity {
    
  }
}
.cart-block--offcanvas-cart-table {
  font-size: map-get($sizes, "tiny");
  .cart-block--offcanvas-cart-table__title {
    color: color(background, color-3);
  }
  .cart-block--offcanvas-cart-table__quantity {
    input[type="number"] {
      border: 1px solid color(grayscale, gray-3);
      text-align: center;
    }
  }
  .cart-block--offcanvas-cart-table__price {
    text-align: right;
  }
  .btn-danger {
    margin: 0;
  }
  table {
    > tr {
      > td {
        vertical-align: middle;
      }
    }
  }
  .cart-block--offcanvas-contents__update {
    font-size: map-get($sizes, "tiny");
    float: right;
    padding: map-get($sizes, "tiny");
  }
}
.block-views-blockinformacion-multiple-block-1 {
  margin-bottom: map-get($sizes, "medium");
  border-top: 1px solid color(grayscale, gray-13);
  border-bottom: 1px solid color(grayscale, gray-13);
  background-color: color(background, color-7);
  width: 100vw;
  margin-left: 50% !important;
  transform: translateX(-50vw);
}
.view-informacion-multiple {
  .view-row {
    border-left: 1px solid color(grayscale, gray-13);
    padding-top: map-get($sizes, "tiny");
    padding-bottom: map-get($sizes, "tiny");
    &:first-child {
      border-left: none;
    }
    .paragraph--type-titulo-subtitulo-imagen {
      display: flex;
      justify-content: center;
    }
    .bs-region--right {
      padding-left: 0;
    }
    .field--name-field-title {
      color: color(grayscale, gray-14);
      font-size: map-get($sizes, "base");
      font-weight: 600;
      margin: 0;
      line-height: 1.5;
      text-transform: uppercase;
      margin-top: 12px;
    }
    .field--name-field-information {
      font-size: map-get($sizes, "tiny");
      margin: 0;
      line-height: 1;
    }
  }
}
.commerce-product {
  .views-field-title {
    margin: map-get($sizes, "small") 0;
    font-size: map-get($sizes, "half");
    font-weight: 600;
    line-height: 1;
    color: color(grayscale, gray-15);
  }
  .field--name-field-fivestar {
    margin-bottom: map-get($sizes, "thumb");
  }
  .field--name-body {
    p {
      
    }
  }
  .product-detail-info {
    padding: map-get($sizes, "thumb") 0;
    margin: map-get($sizes, "thumb") 0;
    border-top: 1px solid color(grayscale, gray-16);
    border-bottom: 1px solid color(grayscale, gray-16);
    .views-field-price__number {
      font-size: map-get($sizes, "medium");
      line-height: 1;
      color: color(controls, base);
      font-weight: 600;
    }
  }
}
.region-sidebar-second {
  h2 {
    margin: 0 0 map-get($sizes, "skinny");
    line-height: 1.2;
    font-size: map-get($sizes, "base");
    font-weight: bold;
    color: color(grayscale, gray-14);
    text-transform: uppercase;
  }
  .fields {
    padding-left: 0;
    .views-field-price__number {
      font-size: map-get($sizes, "base");
      margin-top: 5px;
    }
  }
  a {
    font-size: map-get($sizes, "tiny");
  }
}
.field--name-dynamic-token-fieldnode-fecha-dia-mes {
  text-align: center;
  .day {
    background: color(background, color-12);
    font-size: map-get($sizes, "base");
    padding: map-get($sizes, "skinny");
    color: color(background, color-3);
  }
  .month {
    background: color(background, color-3);
    border-radius: 0 0 2px 2px;
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.07) inset;
    color: color(grayscale, white);
    font-size: map-get($sizes, "small");
    padding: 0 10px 2px;
  }
}
.node--type-blog-post {
  margin-bottom: map-get($sizes, "medium");
  .field--name-node-title {
    color: color(background, color-3);
    font-size: map-get($sizes, "thumb");
    h2 {
      font-size: map-get($sizes, "thumb");
      line-height: 0;
    }
    a {
      color: color(background, color-3);
    }
  }
  .field--name-node-post-date {
    border-bottom: 1px solid color(secondary, light);
  }
}

@include mq-min(sm) {
  .cart-flyout {
    .cart-block--link__expand {
      position: relative;
      i {
        margin-top: 0;
      }
    }
  }
}