
*, 
*:before, *:after {
	box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  font-family: $font-family-brand;
  font-size: $font-size;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  color: color(primary, base);
}

p {
  margin-bottom: map-get($sizes, "base");
}

h1, h2, h3, h4, h5, h6{
  font-weight: bold;
  margin-bottom: map-get($sizes, "base");
}

h1{
  font-size: map-get($sizes, "huge");
}
h2{
  font-size: map-get($sizes, "xlarge");
}
h3{
  font-size: map-get($sizes, "large");
}
h4{
  font-size: map-get($sizes, "medium");
}
h5{
  font-size: map-get($sizes, "half");
}
h6{
  font-size: map-get($sizes, "thumb");
}

ol,
ul{
  margin-bottom: map-get($sizes, "base");
  padding-left: map-get($sizes, "half");
}

ol{
  counter-reset: item;
  list-style: none;
  li{
    &:before{
      counter-increment: item;
      content: counters(item, ".") ". ";
    }
  }
}
/* Estilos del sitio */
.main-container {
  font-size: map-get($sizes, small );
}
.field--name-field-contact-information {
  .paragraph {
    &:before {
      font: normal normal normal 12px/1 FontAwesome;
      font-size: map-get($sizes, small );
      display: inline-block;
      margin-right: 3px;
    }
    .field--name-field-title {
      display: inline;
      font-weight: 700;
    }
  }
}
.paragraph--type--mail-information {
  &:before {
    content: "\f003";    
  }
  .field--name-field-mail {
    margin-left: map-get($sizes, "half");
  }
}
.paragraph--type--location-information {
  &:before {
    content: "\f041";
  }
  .field--name-field-information {
    margin-left: map-get($sizes, "thumb");
  }
}
.paragraph--type--phone-information {
  &:before {
    content: "\f095";
  }
  .field--name-field-phone {
    margin-left: map-get($sizes, "thumb");
  }
}
.paragraph--type--contact-information {
  &:before {
    content: "\f017";
  }
  .field--name-field-information {
    margin-left: map-get($sizes, "thumb");
  }
}
.field--name-field-location {
  padding: 0 !important;
  width: 100vw;
  margin-left: 50% !important;
  transform: translateX(-50vw);
}
.node--type-webform {
  .field--label {
    font-size: map-get($sizes, "half");
    margin: map-get($sizes, "large") 0 map-get($sizes, "medium") 0;
    font-weight: 300;
  }
  .field--name-field-contact-information {
    .paragraph {
      margin-bottom: map-get($sizes, "base");
      &:before {
        width: map-get($sizes, "large");
        height: map-get($sizes, "large");
        text-align: center;
        background-color: color(background, color-3);
        line-height: map-get($sizes, "large");
        font-size: map-get($sizes, "thumb");
        color: color(grayscale, white);
        float: left;
        margin-right: map-get($sizes, "tiny");
      }
    }
  }
}
.view-social-networks {
  .social-network {
    display: inline-block;
    border-radius: 100%;
    a {
      background-color: color(background, color-5);
      color: color(grayscale, white);      
      transition: all 0.2s ease;
      border-radius: 100%;
      display: block;
      height: map-get($sizes, "half");
      line-height: map-get($sizes, "half");
      width: map-get($sizes, "half");
      text-align: center;
      text-decoration: none;
    }
  }
}

@include mq-max(sm){
  h1{
    font-size: map-get($sizes, "medium");
  }
  h2{
    font-size: map-get($sizes, "half");
  }
  h3{
    font-size: map-get($sizes, "thumb");
  }
  h4{
    font-size: map-get($sizes, "base");
  }
  h5{
    font-size: map-get($sizes, "small");
  }
  h6{
    font-size: map-get($sizes, "tiny");
  }
}