.slick-slider {
  .slick-next, .slick-prev {
    z-index: 999;
    &:before{
      font-size: 35px;
      color: color(grayscale, black);
    }
  }
  .slick-prev{
    left: 20px;
  }
  .slick-next{
    right: 20px;
  }
  .slick-dots {
    bottom: 41px;
    left: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    li{
        display: inline-block;
        list-style: none;
        button{
            background: color(grayscale, black);
            border-radius: 100%;
            display: inline-block;
            height: 14px;
            opacity: 1;
            text-indent: -9999px;
            width: 14px;
            z-index: 99;
        }
        &.slick-active{
            button{
                background: color(grayscale, gray-4);
            }
        }
    }
  }
}